@font-face
{
	font-family:'HM Ampersand Light'; 
	src: url('fonts/hmampersand-light-webfont.eot');
	src: local('â˜º'), url('fonts/hmampersand-light-webfont.woff') format('woff'), url('fonts/hmampersand-light-webfont.ttf') format('truetype');	
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family: 'HM Ampersand Regular';
	src: url('fonts/hmampersand-regular-webfont.eot');
	src: local('â˜º'), url('fonts/hmampersand-regular-webfont.woff') format('woff'), url('fonts/hmampersand-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family: 'HM Ampersand Bold';
	src: url('fonts/hmampersand-bold-webfont.eot');
	src:local('â˜º'), url('fonts/hmampersand-bold-webfont.woff') format('woff'), url('fonts/hmampersand-bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video
{
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
article, aside, dialog, figure, footer, header, hgroup, nav, section
{
	display: block;
}
ul
{
	list-style: none;
}
blockquote, q
{
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after
{
	content: '';
	content: none;
}
a
{
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
ins
{
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
mark
{
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del
{
	text-decoration: line-through;
}
abbr[title], dfn[title]
{
	border-bottom: 1px dotted #000;
	cursor: help;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
hr
{
	border: 0;
	border-top: 1px solid #cccccc;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}
input, select
{
	vertical-align: middle;
}
.clearfix:after
{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.clearfix
{
	display: inline-block;
}
html[lang] .clearfix
{
	display: block;
}
* html .clearfix
{
	height: 1%;
}
html
{
	font-family: 'HM Ampersand Regular', Arial, sans-serif;
	font-size: 62.5%;
}
h1,h2,h3,h4,h5,h6,p,li,a
{
	color: #1a171b;
	font-weight: normal;
}
h1
{
	font-family: 'HM Ampersand Bold', Arial, sans-serif;
	font-size: 2em;
	letter-spacing: 0.15em;
	text-align: center;
	text-transform: uppercase;
}
h2
{
	font-size: 1.5em;
}
p
{
	color: #333;
	font-size: 1.2em;
	line-height: 1.2em;
}
p > a
{
	text-decoration: underline;
}
p > a:hover
{
	text-decoration: none;
}
strong
{
	font-family: 'HM Ampersand Bold', Arial, sans-serif;
	font-weight: normal;
}
